/* ===========================
   FOOTER
=========================== */

.footer{
    background:#0f172a;
    color:#ffffff;
    padding:70px 0 25px;

    scroll-margin-top:90px;
}

/* ===========================
   LOGO
=========================== */

.footer-logo{
    font-size:2rem;
    font-weight:800;
    color:#3b82f6;
    margin-bottom:20px;
}

.footer-text{
    color:#cbd5e1;
    line-height:1.8;
    font-size:15px;
}

/* ===========================
   HEADINGS
=========================== */

.footer h5{
    margin-bottom:22px;
    font-weight:700;
    color:#ffffff;
}

/* ===========================
   LINKS
=========================== */

.footer-links{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-links li{
    margin-bottom:12px;
}

.footer-links a{
    text-decoration:none;
    color:#cbd5e1;
    transition:.3s;
}

.footer-links a:hover{
    color:#3b82f6;
    padding-left:6px;
}

/* ===========================
   CONTACT
=========================== */

.footer-contact p{
    margin-bottom:12px;
    color:#cbd5e1;
}

/* ===========================
   SOCIAL
=========================== */

.social-icons{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.social-icons a{
    width:45px;
    height:45px;
    background:#1e293b;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-decoration:none;
    font-size:20px;
    transition:.3s;
}

.social-icons a:hover{
    background:#2563eb;
    transform:translateY(-5px);
}

.newsletter{
    color:#cbd5e1;
    line-height:1.7;
    font-size:14px;
}

/* ===========================
   BOTTOM
=========================== */

.footer hr{
    border-color:rgba(255,255,255,.12);
    margin:45px 0 20px;
}

.footer-bottom{
    text-align:center;
    color:#94a3b8;
    font-size:15px;
}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:991px){

.footer{
    text-align:center;
}

.social-icons{
    justify-content:center;
}

.footer-links{
    margin-bottom:25px;
}

}

@media(max-width:576px){

.footer{
    padding:55px 0 20px;
}

.footer-logo{
    font-size:1.8rem;
}

.footer h5{
    margin-top:20px;
}

.social-icons a{
    width:40px;
    height:40px;
    font-size:18px;
}

.footer-bottom{
    font-size:14px;
}

}